# Show SQL files as SQL
*.sql linguist-detectable=true

# Prevent showing SQL Files as T-SQL
*.sql linguist-language=sql

*.md linguist-vendored=false
*.md linguist-generated=false
*.md linguist-documentation=false
*.md linguist-detectable=true
